<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RoyalUI Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/static/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/css1/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/static/images/favicon.png"/>
</head>

<body>
<div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo mr-5" href="/dashboard"><img src="/static/images/logo.svg" class="mr-2"
                                                                           alt="logo"/></a>
            <a class="navbar-brand brand-logo-mini" href="/dashboard"><img src="/static/images/logo-mini.svg"
                                                                           alt="logo"/></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="ti-view-list"></span>
            </button>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="/admin/notifications">
                        <i class="ti-bell mx-0"></i>
                        <span class="count"></span>
                    </a>
                </li>
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                        <img src="/static/images/faces/face28.jpg" alt="profile"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                         aria-labelledby="profileDropdown">
                        <a class="dropdown-item">
                            <i class="ti-settings text-primary"></i>
                            Settings
                        </a>
                        <a class="dropdown-item">
                            <i class="ti-power-off text-primary"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="ti-view-list"></span>
            </button>
        </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard">
                        <i class="ti-shield menu-icon"></i>
                        <span class="menu-title">Главная</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products" aria-expanded="false" aria-controls="ui-basic">
                        <i class="ti-shopping-cart-full menu-icon"></i>
                        <span class="menu-title">Товары</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/categories">
                        <i class="ti-layout-list-post menu-icon"></i>
                        <span class="menu-title">Категории</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/orders">
                        <i class="ti-pie-chart menu-icon"></i>
                        <span class="menu-title">Заказы</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/stores">
                        <i class="ti-home menu-icon"></i>
                        <span class="menu-title">Магазины</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/stocks">
                        <i class="ti-gift menu-icon"></i>
                        <span class="menu-title">Акции</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/shipments">
                        <i class="ti-truck menu-icon"></i>
                        <span class="menu-title">Доставки</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/coupons">
                        <i class="ti-medall menu-icon"></i>
                        <span class="menu-title">Купоны</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/superAdmin/main-store">
                        <i class="ti-direction menu-icon"></i>
                        <span class="menu-title">Головной офис</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12 grid-margin">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h4 class="font-weight-bold mb-0" th:text="'Транзакции магазина : ' + ${store.town}"></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Создать транзакцию</h4>
                            <form class="form-inline justify-content-between" id="transactionForm">
                                <input id="storeId" name="storeId" th:value="${store.id}" hidden>
                                <div class="m-2">
                                    <div class="mb-1">
                                        <label for="senderStore">Отправитель</label>
                                    </div>
                                    <select class="form-control" name="senderStoreId" id="senderStore">
                                        <option th:each="currentStore : ${stores}" th:value="${currentStore.id}"
                                                th:text="${currentStore.town}"></option>
                                    </select>
                                </div>
                                <div class="m-2">
                                    <div class="mb-1">
                                        <label for="targetStore">Получатель</label>
                                    </div>
                                    <select class="form-control" name="targetStoreId" id="targetStore">
                                        <option value="0">Головной офис</option>
                                        <option th:each="currentStore : ${stores}" th:value="${currentStore.id}"
                                                th:text="${currentStore.town}"></option>
                                    </select>
                                </div>
                                <div class="m-2">
                                    <div class="mb-1">
                                        <label for="amount">Сумма</label>
                                    </div>
                                    <input type="number" class="form-control" name="amount" id="amount"
                                           placeholder="Сумма" required>
                                </div>
                                <button type="submit" class="btn btn-primary mr-2">Создать</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-wrap justify-content-between">
                                <p class="card-title mb-0 mt-1">Отправленные транзакции</p>
                                <div class="form-group form-inline">
                                    <label class="mr-2">Сортировать по</label>
                                    <select class="form-control form-control-sm" id="sortSelect">
                                        <option value="0" th:selected="${selectedSort == 0}">По дате : новые</option>
                                        <option value="1" th:selected="${selectedSort == 1}">По дате : старые
                                        </option>
                                        <option value="2" th:selected="${selectedSort == 2}">По сумме : возрастание
                                        </option>
                                        <option value="3" th:selected="${selectedSort == 3}">По сумме : убывание
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Отправитель</th>
                                        <th>Получатель</th>
                                        <th>Сумма</th>
                                        <th>Дата</th>
                                        <th>Статус</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="transaction : ${sendTransactions.getContent()}">
                                        <td th:text="${transaction.id}"></td>
                                        <td th:text="${transaction.sender.town}"></td>
                                        <td th:if="${not transaction.toMainStore}"
                                            th:text="${transaction.target.town}"></td>
                                        <td th:if="${transaction.toMainStore}">Головной офис</td>
                                        <td th:text="${transaction.amount}"></td>
                                        <td th:text="${transaction.date}"></td>
                                        <td>
                                            <p class="badge badge-warning" th:if="${not transaction.allowed}">В
                                                ОЖИДАНИИ</p>
                                            <p class="badge badge-success" th:if="${transaction.allowed}">ОДОБРЕНО</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pagination-container" th:if="${sendTransactions != null}">
                                <div class="pagination">
                                    <ul>
                                        <li th:if="${sendTransactions.number > 0}" class="pagination-link"
                                            th:attr="page=${0}">
                                            <a><<</a>
                                        </li>
                                        <li th:if="${sendTransactions.number > 0}" class="pagination-link"
                                            th:attr="page=${sendTransactions.number - 1}"><a
                                                th:text="${sendTransactions.number}"></a>
                                        </li>
                                        <li class="current"><a th:text="${sendTransactions.number + 1}"></a></li>
                                        <li th:if="${sendTransactions.number + 1 < sendTransactions.totalPages}"
                                            class="pagination-link"
                                            th:attr="page=${sendTransactions.number + 1}"><a
                                                th:text="${sendTransactions.number + 2}"></a>
                                        </li>
                                        <li th:if="${sendTransactions.number + 2 < sendTransactions.totalPages}"
                                            class="pagination-link"
                                            th:attr="page=${sendTransactions.number + 2}"><a
                                                th:text="${sendTransactions.number + 3}"></a>
                                        </li>
                                        <li th:if="${sendTransactions.number + 1< sendTransactions.totalPages}"
                                            class="pagination-link"
                                            th:attr="page=${sendTransactions.totalPages - 1}"><a>>></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-wrap justify-content-between">
                                <p class="card-title mb-0 mt-1">Поступившие транзакции</p>
                                <div class="form-group form-inline">
                                    <label class="mr-2">Сортировать по</label>
                                    <select class="form-control form-control-sm" id="recSortSelect">
                                        <option value="0" th:selected="${recSort == 0}">По дате : новые
                                        </option>
                                        <option value="1" th:selected="${recSort == 1}">По дате : старые
                                        </option>
                                        <option value="2" th:selected="${recSort == 2}">По сумме :
                                            возрастание
                                        </option>
                                        <option value="3" th:selected="${recSort == 3}">По сумме : убывание
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Отправитель</th>
                                        <th>Получатель</th>
                                        <th>Сумма</th>
                                        <th>Дата</th>
                                        <th>Статус</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="transaction : ${receivedTransactions.getContent()}">
                                        <td th:text="${transaction.id}"></td>
                                        <td th:text="${transaction.sender.town}"></td>
                                        <td th:text="${transaction.target.town}"></td>
                                        <td th:text="${transaction.amount}"></td>
                                        <td th:text="${transaction.date}"></td>
                                        <td>
                                            <p class="badge badge-warning" th:if="${not transaction.allowed}">В
                                                ОЖИДАНИИ</p>
                                            <p class="badge badge-success" th:if="${transaction.allowed}">
                                                ОДОБРЕНО</p>
                                        </td>
                                        <td th:if="${not transaction.allowed}">
                                            <div>
                                                <button class="btn btn-sm btn-primary allowTr"
                                                        th:attr="transactionId=${transaction.id}">Одобрить
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pagination-container" th:if="${receivedTransactions != null}">
                                <div class="pagination">
                                    <ul>
                                        <li th:if="${receivedTransactions.number > 0}" class="rec-pagination-link"
                                            th:attr="page=${0}">
                                            <a><<</a>
                                        </li>
                                        <li th:if="${receivedTransactions.number > 0}" class="rec-pagination-link"
                                            th:attr="page=${receivedTransactions.number - 1}"><a
                                                th:text="${receivedTransactions.number}"></a>
                                        </li>
                                        <li class="current"><a th:text="${receivedTransactions.number + 1}"></a></li>
                                        <li th:if="${receivedTransactions.number + 1 < receivedTransactions.totalPages}"
                                            class="rec-pagination-link"
                                            th:attr="page=${receivedTransactions.number + 1}"><a
                                                th:text="${receivedTransactions.number + 2}"></a>
                                        </li>
                                        <li th:if="${receivedTransactions.number + 2 < receivedTransactions.totalPages}"
                                            class="rec-pagination-link"
                                            th:attr="page=${receivedTransactions.number + 2}"><a
                                                th:text="${receivedTransactions.number + 3}"></a>
                                        </li>
                                        <li th:if="${receivedTransactions.number + 1< receivedTransactions.totalPages}"
                                            class="rec-pagination-link"
                                            th:attr="page=${receivedTransactions.totalPages - 1}"><a>>></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container-scroller -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- plugins:js -->
<script src="/static/vendors/base/vendor.bundle.base.js"></script>
<!-- Plugin js for this page-->
<!-- inject:js -->
<script src="/static/js/off-canvas.js"></script>
<script src="/static/js/hoverable-collapse.js"></script>
<script src="/static/js/template.js"></script>
<script src="/static/js/transactions/transactions.js"></script>
<script src="/static/js/notifications/notifications.js"></script>
<!-- Custom js for this page-->
<script src="/static/js/dashboard.js"></script>
<!-- End custom js for this page-->
</body>

</html>

