<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RoyalUI Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/static/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <link rel="stylesheet" href="/static/css1/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/static/images/favicon.png"/>
</head>

<body>
<div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo mr-5" href="/dashboard"><img src="/static/images/logo.svg" class="mr-2"
                                                                           alt="logo"/></a>
            <a class="navbar-brand brand-logo-mini" href="/dashboard"><img src="/static/images/logo-mini.svg"
                                                                           alt="logo"/></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="ti-view-list"></span>
            </button>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="/admin/notifications">
                        <i class="ti-bell mx-0"></i>
                        <span class="count"></span>
                    </a>
                </li>
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                        <img src="/static/images/faces/face28.jpg" alt="profile"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                         aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="/home">
                            <i class="ti-arrow-circle-right text-primary"></i>
                            В магазин
                        </a>
                        <a class="dropdown-item" href="/auth/logout">
                            <i class="ti-power-off text-primary"></i>
                            Выйти
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="ti-view-list"></span>
            </button>
        </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard">
                        <i class="ti-shield menu-icon"></i>
                        <span class="menu-title">Главная</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products" aria-expanded="false" aria-controls="ui-basic">
                        <i class="ti-shopping-cart-full menu-icon"></i>
                        <span class="menu-title">Товары</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/categories">
                        <i class="ti-layout-list-post menu-icon"></i>
                        <span class="menu-title">Категории</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/orders">
                        <i class="ti-pie-chart menu-icon"></i>
                        <span class="menu-title">Заказы</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/stores">
                        <i class="ti-home menu-icon"></i>
                        <span class="menu-title">Магазины</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/stocks">
                        <i class="ti-gift menu-icon"></i>
                        <span class="menu-title">Акции</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/shipments">
                        <i class="ti-truck menu-icon"></i>
                        <span class="menu-title">Доставки</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/coupons">
                        <i class="ti-medall menu-icon"></i>
                        <span class="menu-title">Купоны</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/superAdmin/main-store">
                        <i class="ti-direction menu-icon"></i>
                        <span class="menu-title">Головной офис</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/mainPageEditor">
                        <i class="ti-announcement menu-icon"></i>
                        <span class="menu-title">Главная страница</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/faq">
                        <i class="ti-help menu-icon"></i>
                        <span class="menu-title">Частые вопросы</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">
                        <i class="ti-user menu-icon"></i>
                        <span class="menu-title">Пользователи</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/reviews">
                        <i class="ti-comment menu-icon"></i>
                        <span class="menu-title">Отзывы</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12 grid-margin">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h4 class="font-weight-bold mb-0">Пользователи</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <div class="form-group d-flex">
                                    <button class="btn btn-sm btn-primary" id="searchButton"><i class="ti-search"></i></button>
                                    <input type="search" id="searchQuery" style="width: 100%" th:value="${searchQuery}" placeholder="Поиск по: имя, фамилия или логин">
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="sortSelect">
                                        <option value="0" th:selected="${sort == 0}">По дате регистрации</option>
                                        <option value="1" th:selected="${sort == 1}">По имени от А до Я</option>
                                        <option value="2" th:selected="${sort == 2}">По имени от Я до А</option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>
                                            Логин
                                        </th>
                                        <th>
                                            Имя
                                        </th>
                                        <th>
                                            email
                                        </th>
                                        <th>
                                            Номер тел.
                                        </th>
                                        <th>
                                            Роль
                                        </th>
                                        <th>
                                            Дата регис-и
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${users.getContent()}">
                                        <td>
                                            <a th:href="'/admin/userDetails?userId=' + ${user.id}" th:text="${user.username}"></a>
                                        </td>
                                        <td th:text="${user.firstname}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td th:text="${user.phone_number}"></td>
                                        <td th:text="${user.role}"></td>
                                        <td th:text="${user.createdDate}"></td>
                                        <td>
                                            <div>
                                                <button class="btn btn-sm btn-danger lock" th:hidden="${not user.active}"
                                                        th:attr="userId=${user.id}">Заблок-ть
                                                </button>
                                                <button class="btn btn-sm btn-success unlock"
                                                        th:hidden="${user.active}" th:attr="userId=${user.id}">
                                                    Разблок-ть
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pagination-container">
                                <div class="pagination">
                                    <input hidden id="page" th:value="${users.number}">
                                    <ul>
                                        <li th:if="${users.number > 0}" class="pagination-link" th:attr="page=${0}">
                                            <a><<</a>
                                        </li>
                                        <li th:if="${users.number > 0}" class="pagination-link"
                                            th:attr="page=${users.number - 1}"><a th:text="${users.number}"></a>
                                        </li>
                                        <li class="current"><a th:text="${users.number + 1}"></a></li>
                                        <li th:if="${users.number + 1 < users.totalPages}" class="pagination-link"
                                            th:attr="page=${users.number + 1}"><a th:text="${users.number + 2}"></a>
                                        </li>
                                        <li th:if="${users.number + 2 < users.totalPages}" class="pagination-link"
                                            th:attr="page=${users.number + 2}"><a th:text="${users.number + 3}"></a>
                                        </li>
                                        <li th:if="${users.number + 1< users.totalPages}" class="pagination-link"
                                            th:attr="page=${users.totalPages - 1}"><a>>></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container-scroller -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- plugins:js -->
<script src="/static/vendors/base/vendor.bundle.base.js"></script>
<!-- Plugin js for this page-->
<!-- inject:js -->
<script src="/static/js/off-canvas.js"></script>
<script src="/static/js/hoverable-collapse.js"></script>
<script src="/static/js/template.js"></script>
<script src="/static/js/dashboard.js"></script>
<script src="/static/js/notifications/notifications.js"></script>
<script src="/static/js/users/usersPage.js"></script>
<!-- End custom js for this page-->
</body>

</html>
