<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Магазины</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/static/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/css1/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/static/images/favicon.png"/>
</head>

<body>
<div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo"><img src="/static/img/logo/logo1.png"
                                                    alt="logo"/></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="ti-view-list"></span>
            </button>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="/admin/notifications">
                        <i class="ti-bell mx-0"></i>
                        <span class="count"></span>
                    </a>
                </li>
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                        <img src="/static/images/faces/face28.jpg" alt="profile"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                         aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="/home">
                            <i class="ti-arrow-circle-right text-primary"></i>
                            В магазин
                        </a>
                        <a class="dropdown-item" href="/auth/logout">
                            <i class="ti-power-off text-primary"></i>
                            Выйти
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="ti-view-list"></span>
            </button>
        </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products" aria-expanded="false" aria-controls="ui-basic">
                        <i class="ti-shopping-cart-full menu-icon"></i>
                        <span class="menu-title">Товары</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/categories">
                        <i class="ti-layout-list-post menu-icon"></i>
                        <span class="menu-title">Категории</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/orders">
                        <i class="ti-pie-chart menu-icon"></i>
                        <span class="menu-title">Заказы</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/stores">
                        <i class="ti-home menu-icon"></i>
                        <span class="menu-title">Магазины</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/stocks">
                        <i class="ti-gift menu-icon"></i>
                        <span class="menu-title">Акции</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/shipments">
                        <i class="ti-truck menu-icon"></i>
                        <span class="menu-title">Доставки</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/coupons">
                        <i class="ti-medall menu-icon"></i>
                        <span class="menu-title">Купоны</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/superAdmin/main-store">
                        <i class="ti-direction menu-icon"></i>
                        <span class="menu-title">Головной офис</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/mainPageEditor">
                        <i class="ti-announcement menu-icon"></i>
                        <span class="menu-title">Главная страница</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/faq">
                        <i class="ti-help menu-icon"></i>
                        <span class="menu-title">Частые вопросы</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">
                        <i class="ti-user menu-icon"></i>
                        <span class="menu-title">Пользователи</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/reviews">
                        <i class="ti-comment menu-icon"></i>
                        <span class="menu-title">Отзывы</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12 grid-margin">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h4 class="font-weight-bold mb-0">Магазины</h4>
                        </div>
                        <a href="/admin/createStore" type="button"
                           class="nav-link btn btn-primary btn-icon-text btn-rounded">
                            <i class="ti-plus btn-icon-prepend"></i>Создать магазин
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <p class="card-title">Все магазины</p>
                            </div>
                            <h4 th:if="${stores.getContent().size() == 0}">Нет магазинов</h4>
                            <div th:if="${stores.getContent().size() > 0}">
                                <div class="table-responsive" >
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Название</th>
                                            <th>Город</th>
                                            <th>Адрес</th>
                                            <th>Номер телефона</th>
                                            <th>в кассе</th>
                                            <th>Админ</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="store : ${stores.getContent()}">
                                            <td><a th:href="@{${'/admin/storeDetails?storeId=' + store.id}}"
                                                   th:text="${store.name}">
                                            </a></td>
                                            <td><a th:href="@{${'/admin/storeDetails?storeId=' + store.id}}"
                                                   th:text="${store.town}">
                                            </a></td>
                                            <td th:text="${store.address}"></td>
                                            <td th:text="${store.phone_number}"></td>
                                            <td th:text="${store.balance}"></td>
                                            <td th:text="${store.admin == null ? 'Нет' : store.admin.firstname}"></td>
                                            <td>
                                                <div>
                                                    <button class="btn btn-sm btn-danger deleteStore" th:attr="storeId=${store.id}"><i class="ti-trash"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="pagination-container">
                                    <div class="pagination">
                                        <input hidden id="page" th:value="${stores.number}">
                                        <ul>
                                            <li th:if="${stores.number > 0}" class="pagination-link"
                                                th:attr="page=${0}">
                                                <a><<</a>
                                            </li>
                                            <li th:if="${stores.number > 0}" class="pagination-link"
                                                th:attr="page=${stores.number - 1}"><a th:text="${stores.number}"></a>
                                            </li>
                                            <li class="current"><a th:text="${stores.number + 1}"></a></li>
                                            <li th:if="${stores.number + 1 < stores.totalPages}" class="pagination-link"
                                                th:attr="page=${stores.number + 1}"><a
                                                    th:text="${stores.number + 2}"></a>
                                            </li>
                                            <li th:if="${stores.number + 2 < stores.totalPages}" class="pagination-link"
                                                th:attr="page=${stores.number + 2}"><a
                                                    th:text="${stores.number + 3}"></a>
                                            </li>
                                            <li th:if="${stores.number + 1< stores.totalPages}" class="pagination-link"
                                                th:attr="page=${stores.totalPages - 1}"><a>>></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="/static/vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="/static/vendors/chart.js/Chart.min.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/static/js/off-canvas.js"></script>
<script src="/static/js/hoverable-collapse.js"></script>
<script src="/static/js/template.js"></script>
<script src="/static/js/store/deleteStore.js"></script>
<script src="/static/js/notifications/notifications.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="/static/js/dashboard.js"></script>
<!-- End custom js for this page-->
</body>

</html>
