<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RoyalUI Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/static/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/css1/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/static/images/favicon.png"/>
</head>

<body>
<div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo mr-5" href="/dashboard"><img src="/static/images/logo.svg" class="mr-2"
                                                                           alt="logo"/></a>
            <a class="navbar-brand brand-logo-mini" href="/dashboard"><img src="/static/images/logo-mini.svg"
                                                                           alt="logo"/></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="ti-view-list"></span>
            </button>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="/admin/notifications">
                        <i class="ti-bell mx-0"></i>
                        <span class="count"></span>
                    </a>
                </li>
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                        <img src="/static/images/faces/face28.jpg" alt="profile"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                         aria-labelledby="profileDropdown">
                        <a class="dropdown-item">
                            <i class="ti-settings text-primary"></i>
                            Settings
                        </a>
                        <a class="dropdown-item">
                            <i class="ti-power-off text-primary"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="ti-view-list"></span>
            </button>
        </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard">
                        <i class="ti-shield menu-icon"></i>
                        <span class="menu-title">Главная</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products" aria-expanded="false" aria-controls="ui-basic">
                        <i class="ti-shopping-cart-full menu-icon"></i>
                        <span class="menu-title">Товары</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/categories">
                        <i class="ti-layout-list-post menu-icon"></i>
                        <span class="menu-title">Категории</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/orders">
                        <i class="ti-pie-chart menu-icon"></i>
                        <span class="menu-title">Заказы</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/stores">
                        <i class="ti-home menu-icon"></i>
                        <span class="menu-title">Магазины</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/stocks">
                        <i class="ti-gift menu-icon"></i>
                        <span class="menu-title">Акции</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/shipments">
                        <i class="ti-truck menu-icon"></i>
                        <span class="menu-title">Доставки</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/coupons">
                        <i class="ti-medall menu-icon"></i>
                        <span class="menu-title">Купоны</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/superAdmin/main-store">
                        <i class="ti-direction menu-icon"></i>
                        <span class="menu-title">Головной офис</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12 grid-margin">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h4 class="font-weight-bold mb-0" th:text="'Карточка : ' + ${productGroup.name}"></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
                                <p class="card-title mb-0" style="margin-top: 10px;">Товары из карточки</p>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Фото</th>
                                        <th>Название</th>
                                        <th>Стоимость</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="product : ${productGroup.products}">
                                        <td>
                                            <img th:if="${not #lists.isEmpty(product.getPhotos())}"
                                                 th:src="@{'/products/' + ${product.getPhotos().get(0)}}"/>
                                        </td>
                                        <td>
                                            <a th:href="@{'/admin/productDetails?productId=' + ${product.id}}">
                                                <span th:text="${product.name}"></span>
                                            </a>
                                        </td>
                                        <td th:text="${product.price}"></td>
                                        <td>
                                            <div>
                                                <button class="btn btn-sm btn-danger deleteFromGroup"
                                                        th:attr="productId=${product.id}"><i class="ti-trash"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Фильтры</h4>
                            <p class="card-description">Выберите параметры товаров</p>
                            <div class="form-group">
                                <label for="searchQuery">Имя или штрихкод</label>
                                <input class="form-control" id="searchQuery" type="text">
                            </div>
                            <div class="form-group">
                                <label for="categorySelect">Выберите категорию</label>
                                <select class="form-control form-control-sm" id="categorySelect">
                                    <option value="0">Все</option>
                                    <option th:each="category: ${categories}"
                                            th:value="${category.id}"
                                            th:text="${category.name}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="sizeSelect">Размер</label>
                                <input class="form-control" id="sizeSelect" type="text">
                            </div>
                            <div class="form-group">
                                <label for="price">Диапазон цен</label>
                                <div class="d-flex justify-content-between" id="price">
                                    <input id="minPrice" class="form-control form-control-sm" style="width: 40%"
                                           type="number" min="0">
                                    <input id="maxPrice" class="form-control form-control-sm" style="width: 40%"
                                           type="number" min="0">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sortSelect">Выберите способ сортировки</label>
                                <select class="form-control form-control-sm" id="sortSelect">
                                    <option value="0">
                                        По умолчанию
                                    </option>
                                    <option value="1">
                                        по дате создания: новые
                                    <option value="2">
                                        по возрастанию цены
                                    <option value="3">
                                        по убыванию цены
                                    </option>
                                    <option value="4">
                                        по названию
                                    </option>
                                </select>
                            </div>
                            <button class="btn btn-primary mr-2" id="filter">Применить</button>
                            <button class="btn btn-light" id="cancel">Сброс</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
                                <p class="card-title mb-0" style="margin-top: 10px;">Все товары</p>
                                <input th:value="${productGroup.id}" id="productGroupId" hidden>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover" id="productTable">
                                    <thead>
                                    <tr>
                                        <th>Фото</th>
                                        <th>Название</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="product : ${products.getContent()}">
                                        <td>
                                            <img th:if="${not #lists.isEmpty(product.getPhotos())}"
                                                 th:src="@{'/products/' + ${product.getPhotos().get(0)}}"/>
                                        </td>
                                        <td>
                                            <a th:href="@{'/admin/productDetails?productId=' + ${product.id}}">
                                                <span th:text="${product.name}"></span>
                                            </a>
                                        </td>
                                        <td>
                                            <div>
                                                <button class="btn btn-sm btn-primary addToGroup"
                                                        th:attr="productId=${product.id}">Добавить
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pagination-container">
                                <div class="pagination" id="productPagination">
                                    <input hidden id="page" th:value="${products.number}">
                                    <ul>
                                        <li th:if="${products.number > 0}" class="pagination-link" th:attr="page=${0}">
                                            <a
                                                    href="#"><<</a>
                                        </li>
                                        <li th:if="${products.number > 0}" class="pagination-link"
                                            th:attr="page=${products.number - 1}"><a href="#"
                                                                                     th:text="${products.number}"></a>
                                        </li>
                                        <li class="current"><a href="#" th:text="${products.number + 1}"></a></li>
                                        <li th:if="${products.number + 1 < products.totalPages}" class="pagination-link"
                                            th:attr="page=${products.number + 1}"><a href="#"
                                                                                     th:text="${products.number + 2}"></a>
                                        </li>
                                        <li th:if="${products.number + 2 < products.totalPages}" class="pagination-link"
                                            th:attr="page=${products.number + 2}"><a href="#"
                                                                                     th:text="${products.number + 3}"></a>
                                        </li>
                                        <li th:if="${products.number + 1< products.totalPages}" class="pagination-link"
                                            th:attr="page=${products.totalPages - 1}"><a href="#">>></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="/static/vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="/static/vendors/chart.js/Chart.min.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/static/js/off-canvas.js"></script>
<script src="/static/js/hoverable-collapse.js"></script>
<script src="/static/js/template.js"></script>
<script src="/static/js/products/productGroupDetails.js"></script>
<script src="/static/js/notifications/notifications.js"></script>

<!-- Custom js for this page-->
<script src="/static/js/dashboard.js"></script>
<!-- End custom js for this page-->
</body>

</html>
