<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Детали товара</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/static/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/css1/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/static/images/favicon.png"/>
</head>

<body>
<div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo mr-5" href="/dashboard"><img src="/static/images/logo.svg" class="mr-2"
                                                                           alt="logo"/></a>
            <a class="navbar-brand brand-logo-mini" href="/dashboard"><img src="/static/images/logo-mini.svg"
                                                                           alt="logo"/></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="ti-view-list"></span>
            </button>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="/admin/notifications">
                        <i class="ti-bell mx-0"></i>
                        <span class="count"></span>
                    </a>
                </li>
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                        <img src="/static/images/faces/face28.jpg" alt="profile"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                         aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="/home">
                            <i class="ti-arrow-circle-right text-primary"></i>
                            В магазин
                        </a>
                        <a class="dropdown-item" href="/auth/logout">
                            <i class="ti-power-off text-primary"></i>
                            Выйти
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="ti-view-list"></span>
            </button>
        </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products" aria-expanded="false" aria-controls="ui-basic">
                        <i class="ti-shopping-cart-full menu-icon"></i>
                        <span class="menu-title">Товары</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/categories">
                        <i class="ti-layout-list-post menu-icon"></i>
                        <span class="menu-title">Категории</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/orders">
                        <i class="ti-pie-chart menu-icon"></i>
                        <span class="menu-title">Заказы</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/stores">
                        <i class="ti-home menu-icon"></i>
                        <span class="menu-title">Магазины</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/stocks">
                        <i class="ti-gift menu-icon"></i>
                        <span class="menu-title">Акции</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/shipments">
                        <i class="ti-truck menu-icon"></i>
                        <span class="menu-title">Доставки</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/coupons">
                        <i class="ti-medall menu-icon"></i>
                        <span class="menu-title">Купоны</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/superAdmin/main-store">
                        <i class="ti-direction menu-icon"></i>
                        <span class="menu-title">Головной офис</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/mainPageEditor">
                        <i class="ti-announcement menu-icon"></i>
                        <span class="menu-title">Главная страница</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/faq">
                        <i class="ti-help menu-icon"></i>
                        <span class="menu-title">Частые вопросы</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">
                        <i class="ti-user menu-icon"></i>
                        <span class="menu-title">Пользователи</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/reviews">
                        <i class="ti-comment menu-icon"></i>
                        <span class="menu-title">Отзывы</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12 grid-margin">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h4 class="font-weight-bold mb-0" th:text="${product.name}"></h4>
                        </div>
                        <div>
                            <a th:href="'/admin/product-analytics?productId=' + ${product.id}" class="btn btn-sm btn-primary">Просмотреть аналитику</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">Все размеры</p>
                            <div class="table-responsive mb-3 mb-md-0">
                                <p class="card-title" th:if="${product.getProductVariations().size() == 0}">Размеры для
                                    товара не указаны</p>
                                <table class="table table-borderless report-table"
                                       th:if="${product.getProductVariations().size() > 0}">
                                    <thead>
                                    <th>Размер</th>
                                    <th>Всего</th>
                                    <th>Штрихкод</th>
                                    </thead>
                                    <tbody>

                                    <tr th:each="productVariable: ${product.getProductVariations()}">
                                        <td class="text-muted" th:text="${productVariable.size}"></td>
                                        <td class="text-muted"
                                            th:text="${product.getProductVariationCount().get(productVariable)}"></td>
                                        <td class="text-muted" th:text="${productVariable.sku}"></td>
                                        <td>
                                            <button class="btn btn-sm btn-danger deleteVariation"
                                                    th:attr="productVarID=${productVariable.id}"><i
                                                    class="ti-trash"></i></button>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-success receive-button"
                                                    th:data-product-id="${productVariable.id}">Поступление
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="modal fade" id="receiveModal" tabindex="-1" role="dialog"
                                     aria-labelledby="receiveModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="receiveModalLabel">Поступление
                                                    товара</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="receiveForm">
                                                    <input type="hidden" id="productId" th:value="${product.id}"/>
                                                    <div class="form-group">
                                                        <label for="selectStore">Выберите категорию:</label>
                                                        <select class="form-control" id="selectStore">
                                                            <option th:each="store : ${stores}" th:value="${store.id}"
                                                                    th:text="${store.name}"></option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputQuantity">Количество:</label>
                                                        <input type="number" class="form-control" id="inputQuantity"
                                                               placeholder="Введите количество">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Закрыть
                                                </button>
                                                <button type="button" class="btn btn-primary" id="receiveButton">
                                                    Поступление
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <form class="form-inline" id="addVariationForm">
                                    <div class="d-flex flex-wrap justify-content-between">
                                        <div class="form-group">
                                            <input class="form-control mb-2 mr-sm-3" id="newSize" name="size"
                                                   placeholder="Размер" required>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control mb-2 mr-sm-3" id="sku" name="sku"
                                                   placeholder="Штрихкод">
                                        </div>
                                    </div>
                                    <input hidden name="productId" th:value="${product.id}">
                                    <div class="form-group align-content-center justify-content-center">
                                        <button class="btn btn-sm btn-primary" type="submit">Добавить
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 grid-margin stretch-card">
                    <div class="card border-bottom-0">
                        <div class="card-body pb-0">
                            <p class="card-title">Остатки</p>
                            <div class="table-responsive mb-3 mb-md-0">
                                <table class="table table-borderless report-table">
                                    <thead>
                                    <th>Размер</th>
                                    <th>Магазин</th>
                                    <th>Количество</th>
                                    </thead>
                                    <tbody>

                                    <tr th:each="storeHouse: ${product.getStoreHouses()}">
                                        <td class="text-muted" th:text="${storeHouse.product.size}"></td>
                                        <td class="text-muted" th:text="${storeHouse.store.town}"></td>
                                        <td>
                                            <h5 class="font-weight-bold mb-0" th:text="${storeHouse.quantity}"></h5>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-7 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
                                <div>
                                    <h4 class="card-title" style="margin-top: 10px;">Детали товара</h4>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <td>
                                            Название
                                        </td>
                                        <td th:text="${product.name}"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Цена
                                        </td>
                                        <td th:text="${product.oldPrice}"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Скидка
                                        </td>
                                        <td th:text="${product.discount} + '%'"></td>
                                    </tr>
                                    <tr >
                                        <td>
                                            Категория
                                        </td>
                                        <td th:text="${product.category != null ? product.category.name : 'Нет'}"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Описание
                                        </td>
                                        <td>
                                            <div class="notification-text" th:text="${product.description}"></div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <h4 class="card-title" style="margin-top: 10px;">Фото</h4>
                            </div>
                            <div class="gallery">
                                <div class="main-photo mb-3"
                                     style="display: flex; justify-content: space-between; flex-wrap: wrap;">
                                    <img th:if="${not #lists.isEmpty(product.photos)}"
                                         th:photo="${product.getPhotos().get(0)}"
                                         th:productId="${product.id}"
                                         th:src="@{'/products/' + ${product.getPhotos().get(0)}}"/>
                                    <div>
                                        <button class="btn btn-sm btn-success btn-rounded" id="delete-button">Удалить
                                        </button>
                                    </div>
                                </div>
                                <div class="thumbnails">
                                    <img class="thumbnail"
                                         th:each="photo:${product.getPhotos()}"
                                         th:data-src="@{'/products/' + ${photo}}"
                                         th:photo="${photo}"
                                         th:src="@{'/products/' + ${photo}}">
                                </div>
                                <hr>
                                <form id="photoForm">
                                    <div class="form-group">
                                        <label>Photo</label>
                                        <input type="file" name="photo" class="file-upload-default">
                                        <div class="input-group col-xs-12">
                                            <input type="text" class="form-control file-upload-info" disabled
                                                   placeholder="Upload Image">
                                            <span class="input-group-append">
                                                <button class="file-upload-browse btn btn-primary"
                                                        type="button">Upload</button>
                                            </span>
                                        </div>
                                    </div>
                                    <input type="hidden" name="productId" th:value="${product.id}">
                                    <div>
                                        <button class="btn btn-primary" type="submit" id="savePhoto">Save</button>
                                    </div>
                                </form>
                                <div id="progressModal" class="modal">
                                    <div class="modal-content">
                                        <div class="progress-spinner"></div>
                                        <p>Sending...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">Спецификации</p>
                            <div class="table-responsive mb-3 mb-md-0">
                                <table class="table table-borderless report-table">
                                    <thead>
                                    <th>Название</th>
                                    <th>Значение</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Бренд</td>
                                        <td th:text="${product.brand}"></td>
                                    </tr>
                                    <tr th:each="specKey: ${product.getSpecifications().keySet()}">
                                        <td class="text-muted" th:text="${specKey}"></td>
                                        <td class="text-muted"
                                            th:text="${product.specifications.get(specKey)}"></td>
                                        <td>
                                            <button class="btn btn-sm btn-danger deleteSpecification"
                                                    th:attr="specKey=${specKey}"><i
                                                    class="ti-trash"></i></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Добавить спецификацию</h4>
                            <form class="form-inline" id="addSpec">
                                <input type="text" class="form-control mb-2 mr-sm-2" name="key"
                                       placeholder="Название" required>

                                <div class="input-group mb-2 mr-sm-2">
                                    <input type="text" class="form-control" name="value" placeholder="Значение" required>
                                </div>
                                <input hidden th:value="${product.id}" name="productId">
                                <button type="submit" class="btn btn-primary mb-2">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card position-relative">
                        <div class="card-body">
                            <p class="card-title">Редактировать продукт</p>
                            <div class="row">
                                <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-center">
                                    <div class="ml-xl-4">
                                        <h3 class="font-weight-light mb-xl-4">Изменить характеристики продукта</h3>
                                        <p class="text-muted mb-2 mb-xl-0">Введите поля которые хотите изменить поля
                                            которые вы оставите пустыми останутся прежними</p>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form class="forms-sample" id="productEdit">
                                        <input hidden th:value="${product.id}" name="targetProductId">
                                        <div class="form-group">
                                            <label for="name">Название</label>
                                            <input type="text" class="form-control" id="name" name="name"
                                                   placeholder="Название">
                                        </div>
                                        <div class="form-group">
                                            <label for="primeCost">Себестоимость</label>
                                            <input type="number" class="form-control" id="primeCost" name="primeCost"
                                                   placeholder="Себестоимость">
                                        </div>
                                        <div class="form-group">
                                            <label for="price">Цена на продажу</label>
                                            <input type="number" class="form-control" id="price" name="price"
                                                   placeholder="Цена">
                                        </div>
                                        <div class="form-group">
                                            <label for="brand">Бренд</label>
                                            <input type="text" class="form-control" id="brand" name="brand"
                                                   placeholder="Бренд">
                                        </div>
                                        <div class="form-group">
                                            <label for="color">Цвет</label>
                                            <input type="text" class="form-control" id="color" name="color"
                                                   placeholder="Цвет">
                                        </div>
                                        <div class="form-group">
                                            <label for="category">Категория</label>
                                            <select class="form-control" id="category" name="categoryId">
                                                <option th:each="category : ${categories}" th:value="${category.id}"
                                                        th:selected="${product.category != null ? product.category.id == category.id : false}" th:text="${category.name}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="description">Описание</label>
                                            <textarea class="form-control" name="description"
                                                      id="description"
                                                      placeholder="Описание"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary mr-2">Сохранить</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="/static/vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="/static/vendors/chart.js/Chart.min.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/static/js/off-canvas.js"></script>
<script src="/static/js/file-upload.js"></script>
<script src="/static/js/hoverable-collapse.js"></script>
<script src="/static/js/template.js"></script>
<script src="/static/js/todolist.js"></script>
<script src="/static/js/gallery.js"></script>
<script src="/static/js/products/addPhotoToProduct.js"></script>
<script src="/static/js/products/productVariations.js"></script>
<script src="/static/js/products/productSpecification.js"></script>
<script src="/static/js/products/newProducts.js"></script>
<script src="/static/js/notifications/notifications.js"></script>
<script src="/static/js/products/productEdit.js"></script>

<!-- endinject -->
<!-- Custom js for this page-->
<script src="/static/js/dashboard.js"></script>
<!-- End custom js for this page-->
</body>

</html>
