<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RoyalUI Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/static/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/css1/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/static/images/favicon.png"/>
</head>

<body>
<div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo mr-5" href="/dashboard"><img src="/images/logo.svg" class="mr-2"
                                                                           alt="logo"/></a>
            <a class="navbar-brand brand-logo-mini" href="/dashboard"><img src="/images/logo-mini.svg" alt="logo"/></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="ti-view-list"></span>
            </button>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item dropdown mr-1">
                    <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center"
                       id="messageDropdown" href="#" data-toggle="dropdown">
                        <i class="ti-email mx-0"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="messageDropdown">
                        <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
                        <a class="dropdown-item">
                            <div class="item-thumbnail">
                                <img src="/images/faces/face4.jpg" alt="image" class="profile-pic">
                            </div>
                            <div class="item-content flex-grow">
                                <h6 class="ellipsis font-weight-normal">David Grey
                                </h6>
                                <p class="font-weight-light small-text text-muted mb-0">
                                    The meeting is cancelled
                                </p>
                            </div>
                        </a>
                        <a class="dropdown-item">
                            <div class="item-thumbnail">
                                <img src="/images/faces/face2.jpg" alt="image" class="profile-pic">
                            </div>
                            <div class="item-content flex-grow">
                                <h6 class="ellipsis font-weight-normal">Tim Cook
                                </h6>
                                <p class="font-weight-light small-text text-muted mb-0">
                                    New product launch
                                </p>
                            </div>
                        </a>
                        <a class="dropdown-item">
                            <div class="item-thumbnail">
                                <img src="/images/faces/face3.jpg" alt="image" class="profile-pic">
                            </div>
                            <div class="item-content flex-grow">
                                <h6 class="ellipsis font-weight-normal"> Johnson
                                </h6>
                                <p class="font-weight-light small-text text-muted mb-0">
                                    Upcoming board meeting
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                       data-toggle="dropdown">
                        <i class="ti-bell mx-0"></i>
                        <span class="count"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                         aria-labelledby="notificationDropdown">
                        <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                        <a class="dropdown-item">
                            <div class="item-thumbnail">
                                <div class="item-icon bg-success">
                                    <i class="ti-info-alt mx-0"></i>
                                </div>
                            </div>
                            <div class="item-content">
                                <h6 class="font-weight-normal">Application Error</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    Just now
                                </p>
                            </div>
                        </a>
                        <a class="dropdown-item">
                            <div class="item-thumbnail">
                                <div class="item-icon bg-warning">
                                    <i class="ti-settings mx-0"></i>
                                </div>
                            </div>
                            <div class="item-content">
                                <h6 class="font-weight-normal">Settings</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    Private message
                                </p>
                            </div>
                        </a>
                        <a class="dropdown-item">
                            <div class="item-thumbnail">
                                <div class="item-icon bg-info">
                                    <i class="ti-user mx-0"></i>
                                </div>
                            </div>
                            <div class="item-content">
                                <h6 class="font-weight-normal">New user registration</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    2 days ago
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                        <img src="/images/faces/face28.jpg" alt="profile"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                        <a class="dropdown-item">
                            <i class="ti-settings text-primary"></i>
                            Settings
                        </a>
                        <a class="dropdown-item">
                            <i class="ti-power-off text-primary"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="ti-view-list"></span>
            </button>
        </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard">
                        <i class="ti-shield menu-icon"></i>
                        <span class="menu-title">Главная</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products" aria-expanded="false" aria-controls="ui-basic">
                        <i class="ti-shopping-cart-full menu-icon"></i>
                        <span class="menu-title">Товары</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/categories">
                        <i class="ti-layout-list-post menu-icon"></i>
                        <span class="menu-title">Категории</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/orders">
                        <i class="ti-pie-chart menu-icon"></i>
                        <span class="menu-title">Заказы</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/stores">
                        <i class="ti-home menu-icon"></i>
                        <span class="menu-title">Магазины</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/stocks">
                        <i class="ti-gift menu-icon"></i>
                        <span class="menu-title">Акции</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/shipments">
                        <i class="ti-truck menu-icon"></i>
                        <span class="menu-title">Доставки</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/coupons">
                        <i class="ti-medall menu-icon"></i>
                        <span class="menu-title">Купоны</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/superAdmin/main-store">
                        <i class="ti-direction menu-icon"></i>
                        <span class="menu-title">Головной офис</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12 grid-margin">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex">
                            <div th:if="${order.status.ordinal() > 0}">
                                <button class="btn btn-sm btn-danger mr-2" id="deleteOrder"><i class="ti-trash"></i></button>
                            </div>
                            <div>
                                <h4 class="font-weight-bold mb-0" th:text="'Номер заказа : ' + ${order.id}"></h4>
                                <input id="orderId" th:value="${order.id}" hidden>
                                <div class="mt-1">
                                    <small class="font-weight-bold mb-0"
                                           th:text="'Сумма заказа : ' + ${order.totalPrice}"></small>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex flex-wrap">
                                <div class="mr-2" style="height: 20px" th:hidden="${order.status.ordinal() <= 1}">
                                    <small class="badge badge-primary" id="statusDown"><i class="ti-arrow-left"></i>
                                    </small>
                                </div>
                                <div class="d-flex align-content-center justify-content-center">
                                    <div>
                                        <span th:if="${order.status.ordinal() == 0}"
                                              class="badge badge-dark">ОТМЕНЕН</span>
                                        <span th:if="${order.status.ordinal() == 1}"
                                              class="badge badge-danger">ЗАПРОС</span>
                                        <span th:if="${order.status.ordinal() == 2}"
                                              class="badge badge-primary">ЖДЕТ ОПЛАТЫ</span>
                                        <span th:if="${order.status.ordinal() == 3}"
                                              class="badge badge-warning">ОПЛАЧЕНО</span>
                                        <span th:if="${order.status.ordinal() == 4}"
                                              class="badge badge-info">В ПУТИ</span>
                                        <span th:if="${order.status.ordinal() == 5}"
                                              class="badge badge-success">ЗАВЕРШЕН</span>
                                    </div>
                                </div>
                                <div class="ml-2" style="height: 20px" th:hidden="${order.status.ordinal() >= 5 || order.status.ordinal() == 0}">
                                    <small class="badge badge-primary" id="statusUp"><i class="ti-arrow-right"></i>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <div class="d-flex justify-content-between">
                                    <h4 class="card-title mt-1">Информация о заказе</h4>
                                    <h4 class="card-title mt-1" th:text="${order.store.town}"></h4>
                                </div>
                                <small>Клиент</small>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <td>
                                            Имя
                                        </td>
                                        <td th:text="${order.firstname}"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Фамилия
                                        </td>
                                        <td th:text="${order.lastname}"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Номер телефона
                                        </td>
                                        <td th:text="${order.phone_number}"></td>
                                    </tr>
                                    <tr th:if="${order.email != null}">
                                        <td>
                                            email
                                        </td>
                                        <td th:text="${order.email}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>

                            <div class="form-group" th:if="${order.status.ordinal() == 1}">
                                <a class="btn btn-dark" data-toggle="collapse" href="#auth" aria-expanded="false"
                                   aria-controls="auth">
                                    <i class="ti-upload menu-icon"></i>
                                    <span class="menu-title ml-3">Перенаправить в другой магазин</span>
                                    <i class="menu-arrow"></i>
                                </a>
                            </div>
                            <div class="collapse" id="auth" th:if="${order.status.ordinal() == 1}">
                                <div class="accordion-body">
                                    <label>Целевой магазин</label>
                                    <div class="form-group form-inline d-flex">
                                        <select class="form-control" id="targetStore">
                                            <option th:each="store : ${stores}" th:text="${store.town}"
                                                    th:value="${store.id}"></option>
                                        </select>
                                        <button class="btn btn-sm btn-primary ml-3" id="redirect">Перенаправить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
                                <div>
                                    <h4 class="card-title" style="margin-top: 10px;">Информация о доставке</h4>
                                </div>
                                <div th:if="${order.status.ordinal() == 1}">
                                    <button th:hidden="${order.shipment == null}" class="btn btn-sm btn-danger"
                                            id="removeShipment" th:attr="orderId=${order.id}">Удалить доставку
                                    </button>
                                </div>
                            </div>
                            <h5 th:if="${order.shipment == null}">Доставка не обозначена</h5>
                            <div class="table-responsive" th:if="${order.shipment != null}">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <td>
                                            Область
                                        </td>
                                        <td th:text="${order.shipment.state}"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Город
                                        </td>
                                        <td th:text="${order.shipment.town}"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Стоимость
                                        </td>
                                        <td th:text="${order.shipment.cost}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                            <div class="d-flex flex-wrap justify-content-between"
                                 th:if="${order.status.ordinal() == 1}">
                                <div>
                                    <h4 class="card-title mt-1">Выбор доставки</h4>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-primary" id="newShipment"
                                            th:attr="orderId=${order.id}">Сохранить
                                    </button>
                                </div>
                            </div>
                            <div th:if="${order.status.ordinal() == 1}">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner" id="spinner1"></div>
                                </div>
                                <div class="form-group">
                                    <label for="state">Область <span>*</span></label>
                                    <select class="form-control" name="state" id="state">
                                        <option value=""></option>
                                        <option th:each="state: ${states}" th:value="${state}"
                                                th:text="${state}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="town">Город <span>*</span></label>
                                    <select class="form-control" name="town" id="town">
                                        <option value=""></option>
                                        <option th:each="town:${towns}" th:value="${town}"
                                                th:text="${town}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <p class="card-title">Все товары</p>
                                <div>
                                    <button th:if="${order.status.ordinal() == 1}" class="btn btn-sm btn-primary"
                                            id="updateOrderItems">Сохранить изменения
                                    </button>
                                </div>
                            </div>
                            <div class="table-responsive mb-3 mb-md-0">
                                <table class="table report-table">
                                    <thead>
                                    <th th:if="${order.status.ordinal() == 1}">Удалить</th>
                                    <th>Фото</th>
                                    <th>Название</th>
                                    <th>Количество</th>
                                    <th>Размер</th>
                                    <th>Штрихкод</th>
                                    <th th:if="${order.status.ordinal() == 1}">Изменить размер</th>
                                    </thead>
                                    <tbody>

                                    <tr th:each="orderItem: ${order.orderItems}">
                                        <td th:if="${order.status.ordinal() == 1}">
                                            <div>
                                                <button class="btn btn-sm btn-danger removeFromOrder"
                                                        th:attr="orderItemId=${orderItem.id}"><i class="ti-trash"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td>
                                            <img th:if="${not #lists.isEmpty(orderItem.product.photos)}"
                                                 th:src="@{'/products/' + ${orderItem.product.getPhotos().get(0)}}"/>
                                        </td>
                                        <td class="text-muted"
                                            th:text="${orderItem.product.name}"></td>
                                        <td class="text-muted">
                                            <div class="d-flex">
                                                <i th:if="${order.status.ordinal() == 1}"
                                                   class="ti-minus btn-primary itemCountDown"
                                                   th:attr="orderItemId=${orderItem.id}"></i>
                                                <span class="mr-3 ml-3" th:text="${orderItem.quantity}"></span>
                                                <i th:if="${order.status.ordinal() == 1}"
                                                   class="ti-plus btn-primary itemCountUp"
                                                   th:attr="orderItemId=${orderItem.id}"></i>
                                            </div>
                                        </td>
                                        <td class="text-muted">
                                            <p th:if="${orderItem.productVariation != null}"
                                               th:text="${orderItem.productVariation.size}"></p>
                                        </td>
                                        <td>
                                            <p th:if="${orderItem.productVariation != null}"
                                               th:text="${orderItem.productVariation.sku}"></p>
                                        </td>
                                        <td class="form-group" th:if="${order.status.ordinal() == 1}">
                                            <select class="form-control newSize" th:attr="orderItemId=${orderItem.id}">
                                                <option th:each="size: ${orderItem.getAvailableSizes()}"
                                                        th:text="${size.size}" th:value="${size.id}"
                                                        th:selected="${size.equals(orderItem.productVariation)}"
                                                ></option>
                                            </select>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" th:if="${order.status.ordinal() == 1}">
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Фильтры</h4>
                            <p class="card-description">Выберите параметры товаров</p>
                            <div class="form-group">
                                <label for="searchQuery">Имя или штрихкод</label>
                                <input class="form-control" id="searchQuery" type="text">
                            </div>
                            <div class="form-group">
                                <label for="categorySelect">Выберите категорию</label>
                                <select class="form-control form-control-sm" id="categorySelect">
                                    <option value="0">Все</option>
                                    <option th:each="category: ${categories}"
                                            th:value="${category.id}"
                                            th:text="${category.name}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="sizeSelect">Размер</label>
                                <input class="form-control" id="sizeSelect" type="text">
                            </div>
                            <div class="form-group">
                                <label for="price">Диапазон цен</label>
                                <div class="d-flex justify-content-between" id="price">
                                    <input id="minPrice" class="form-control form-control-sm" style="width: 40%"
                                           type="number" min="0">
                                    <input id="maxPrice" class="form-control form-control-sm" style="width: 40%"
                                           type="number" min="0">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sortSelect">Выберите способ сортировки</label>
                                <select class="form-control form-control-sm" id="sortSelect">
                                    <option value="0">
                                        По умолчанию
                                    </option>
                                    <option value="1">
                                        по дате создания: новые
                                    <option value="2">
                                        по возрастанию цены
                                    <option value="3">
                                        по убыванию цены
                                    </option>
                                    <option value="4">
                                        по названию
                                    </option>
                                </select>
                            </div>
                            <button class="btn btn-primary mr-2" id="filter">Применить</button>
                            <button class="btn btn-light" id="cancel">Сброс</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
                                <p class="card-title mb-0" style="margin-top: 10px;">Все товары</p>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover" id="productTable">
                                    <thead>
                                    <tr>
                                        <th>Фото</th>
                                        <th>Название</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="product : ${products.getContent()}">
                                        <td>
                                            <img th:if="${not #lists.isEmpty(product.getPhotos())}"
                                                 th:src="@{'/products/' + ${product.getPhotos().get(0)}}"/>
                                        </td>
                                        <td>
                                            <a th:href="@{'/admin/productDetails?productId=' + ${product.id}}">
                                                <span th:text="${product.name}"></span>
                                            </a>
                                        </td>
                                        <td>
                                            <div>
                                                <button class="btn btn-sm btn-primary addToOrder"
                                                        th:attr="productId=${product.id}">Добавить
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pagination-container">
                                <div class="pagination" id="productPagination">
                                    <input hidden id="page" th:value="${products.number}">
                                    <ul>
                                        <li th:if="${products.number > 0}" class="pagination-link" th:attr="page=${0}">
                                            <a
                                                    href="#"><<</a>
                                        </li>
                                        <li th:if="${products.number > 0}" class="pagination-link"
                                            th:attr="page=${products.number - 1}"><a href="#"
                                                                                     th:text="${products.number}"></a>
                                        </li>
                                        <li class="current"><a href="#" th:text="${products.number + 1}"></a></li>
                                        <li th:if="${products.number + 1 < products.totalPages}" class="pagination-link"
                                            th:attr="page=${products.number + 1}"><a href="#"
                                                                                     th:text="${products.number + 2}"></a>
                                        </li>
                                        <li th:if="${products.number + 2 < products.totalPages}" class="pagination-link"
                                            th:attr="page=${products.number + 2}"><a href="#"
                                                                                     th:text="${products.number + 3}"></a>
                                        </li>
                                        <li th:if="${products.number + 1< products.totalPages}" class="pagination-link"
                                            th:attr="page=${products.totalPages - 1}"><a href="#">>></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="/static/vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="/static/vendors/chart.js/Chart.min.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/static/js/off-canvas.js"></script>
<script src="/static/js/file-upload.js"></script>
<script src="/static/js/hoverable-collapse.js"></script>
<script src="/static/js/template.js"></script>
<script src="/static/js/orders/orderDetailsPage.js"></script>
<script src="/static/js/orders/orderDetailsPageCRUD.js"></script>
<script src="/static/js/orders/shipment.js"></script>
<script src="/static/js/dashboard.js"></script>
<!-- End custom js for this page-->
</body>

</html>
